# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/
!/wp-content/plugins/elementor/
!/wp-content/themes/hello-elementor/
/wp-includes/
/.htaccess
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
.DS_Store

