# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/plugins/
!/wp-content/plugins/elementor
/wp-content/themes/twenty*/
/wp-content/uploads/
/wp-content/index.php
/wp-content/themes/index.php
/wp-includes/
/.htaccess
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
.DS_Store

